//HOME PAGE
@import 'variables.scss';
.home-page{
    padding-top: 120px;
    &--banner-top{
        .content-image{
            width: 100%;
            height: 600px;
            outline: none !important;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    &--service{
        background: #f8f8f8;
        padding: 100px 0 70px 0;
        &--cont-group{
            .col-custom{
                margin-bottom: 30px;
                .cont-box{
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    .cont-image{
                        width: 100%;
                        height: 355px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-position: center;
                            object-fit: cover;
                        }
                    }
                    .cont-title-service{
                        height: 100%;
                        min-height:50px;
                        padding: 15px;
                        background: #fff;
                        a{
                            cursor: pointer;
                            color: #000;
                            font-family: roboto-md;
                            font-weight: 500;
                            font-size: 18px; 
                            -webkit-transition: all .4s ease-in-out;
                            transition: all .4s ease-in-out;
                            &:hover{
                                a{
                                    color: #f06e28;
                                }
                            }
                        }
                        p{
                            font-size: 16px;
                            font-family: roboto-rl;
                            margin-top: 10px;
                            margin-bottom: 0;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            max-height: 70px;
                            height: 100%;
                        }
                    }
                    &:hover{
                        box-shadow: -6px 5px 8px rgba(0,0,0,.14);
                        cursor: pointer;
                        .cont-title-service{
                            a{
                                color: #f06e28;
                            }
                        }
                    }
                }
            }
        }
    }
    &--blog{
        padding: 100px 0 70px 0;
        &--cont-group{
            .col-custom{
                margin-bottom: 30px;
                .cont-box{
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    background: #f8f8f8;
                    .cont-image{
                        width: 100%;
                        height: 300px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-position: center;
                            object-fit: cover;
                        }
                    }
                    .cont-text{
                        height: 100%;
                        min-height:50px;
                        padding: 15px;
                        a{
                            cursor: pointer;
                            color: #000;
                            font-family: roboto-md;
                            font-weight: 500;
                            font-size: 18px; 
                            -webkit-transition: all .4s ease-in-out;
                            transition: all .4s ease-in-out;
                            &:hover{
                                a{
                                    color: #f06e28;
                                }
                            }
                        }
                        p{
                            font-size: 16px;
                            font-family: roboto-rl;
                            margin-top: 10px;
                            margin-bottom: 0;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            max-height: 70px;
                            height: 100%;
                        }
                    }
                    &:hover{
                        box-shadow: -6px 5px 8px rgba(0,0,0,.14);
                        cursor: pointer;
                        .cont-text{
                            a{
                                color: #f06e28;
                            }
                        }
                    }
                }
            }
        }
    }
    &--contact{
        .title-h4{
            position: relative;
            z-index: 100;
            color:  #f7f5f5;
        }
        background: #000;
        padding: 100px 0 120px 0;
        position: relative;
        .background-behind{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.4;
            }
        }
        &--contact-form{
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            input{
                background-color: #f7f5f5;
                width: 100%;
                margin-bottom: 25px;
                height: 50px;
                outline: none !important;
                padding-left: 10px;
                border: 2px solid #fff;
                border-radius: 4px;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                &:focus{
                    border: 2px solid #f06e28;
                }
            }
            textarea{
                background-color: #f7f5f5;
                width: 100%;
                margin-bottom: 20px;
                outline: none !important;
                padding-left: 10px;
                border: 2px solid #fff;
                border-radius: 4px;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                &:focus{
                    border: 2px solid #f06e28;
                }
            }
            /* Chrome, Opera, Safari */
            ::-webkit-input-placeholder, ::-webkit-teaxtarea-placeholder{
                font-family: roboto-rl;
                color: #a8a8a8;
                font-size: 15px;
            }
            /* Firefox 19+ */
            ::-moz-placeholder {
                font-family: roboto-rl;
                color: #a8a8a8;
                font-size: 15px;
            }
            /* IE 10+ */
            :-ms-input-placeholder, ::-ms-teaxtarea-placeholder {
                font-family: roboto-rl;
                color: #a8a8a8;
                font-size: 15px;
            }
            /* Firefox 18- */
            :-moz-placeholder {
                font-family: roboto-rl;
                color: #b8b8b8;
                font-size: 15px;
            }
            span.wpcf7-not-valid-tip{
                font-family: roboto-rl;
                font-size: 15px;
                font-weight: 400;
                line-height: 17px;
                margin-top: 10px;
                position: absolute;
                top: 20px;
            }
            .wpcf7-response-output,.wpcf7-display-none,.wpcf7-validation-errors{
                display: none !important;
            }
            div.wpcf7-mail-sent-ok{
                z-index:100;
                border: none;
                color: #fff;
                font-family: roboto-rl;
                font-size: 20px;
                font-weight: 400;
                display: block !important;
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translate(-50%);
                text-align: center;
            }
            .select{
                margin-bottom: 20px;
                .row{
                    div{
                        position: relative;
                    }
                }
            }
            .select select{
                display: none;//ofcontactform
            }
            //select_custom
            .select .select-styled{
                width: 100%;
                background-color: #f7f5f5;
                border: 2px solid #fff;
                border-radius: 4px;
                outline:none;
                cursor: pointer;
                position: relative;
                font-family: roboto-rl;
                font-weight: 400;
                color: #a8a8a8;
                font-size: 15px;
                padding-left:10px;
                padding-right: 10px;
                height: 50px;
                display: flex;
                align-items: center;
            }
            //when change Data select
            .change-color{
                background-color: #f7f5f5 !important;
            }
            .select.change-color .select-styled{
                color: #000 !important;
                font-family: roboto-rl;
                font-weight: 400;
            }
            .select .select-styled:after {
                position: absolute;
                content: '';
                width: 7px;
                height: 100%;
                top: 0;
                right: 10px;
                background-image: url(../images/default/Path.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 6px;
                cursor: pointer;
                filter: brightness(0.5);
            }
            .select .select-styled.active, .select .active-simple{
                border: 2px solid #f06e28;
                &:after{
                    transform: rotateZ(90deg) !important;
                }
            }
            .select .select-options li:first-child {
                display: none;
                // pointer-events: none;
                // font-family:  'Gilroy-Medium';
                // color: #c0c0c0;
            }
            .select .select-options li{
                font-family:  'Gilroy-Medium';
                color: #000;
                cursor: pointer;
                margin-bottom: 10px;
            }
            .select{
                position: relative;
            }
            .select .select-options {
                display: none;
                padding: 0;
                margin: 0;
                list-style: none;
                left: 0;
                background-color: #f7f8fa;
                border-top: 0;
                z-index: 3;
                width: 100%;
                border-bottom: 1px solid rgba(46, 46, 44, 0.6);
                padding:10px 20px 0px 15px;
                position: absolute;
                z-index: 300;
                border-radius: 3px;
                height: 200px;
                overflow-y: auto;
                li.active{
                    pointer-events: none;
                    font-family: roboto-rl;
                    font-weight: 400;
                    color: #b8b8b8;
                    font-size: 15px;
                }
                li{
                    padding-left:5px;
                    &::before{
                        content: '+';
                        margin-right: 3px;
                    }
                }
                li:nth-child(2), li:nth-child(7), li:nth-child(13), li:nth-child(21){
                    pointer-events: none;
                    color: #f06e28;
                    padding-left: 0;
                    font-size: 16px;
                    &::before{
                        content: '';
                    }
                }
            }
    
        }
    }
}