/* 
 *  Fonts define 
 */
@font-face {
  font-family: roboto-bd;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: roboto-md;
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500; }
@font-face {
  font-family: roboto-rl;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: roboto-lt;
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300; }
.single-service {
  background: #f8f8f8; }
  .single-service .cate-internet {
    margin-bottom: 80px;
    padding-top: 50px; }
    .single-service .cate-internet h1 {
      font-family: roboto-bd;
      font-size: 30px;
      font-weight: 700px;
      text-align: center; }
    .single-service .cate-internet .row {
      padding-top: 50px; }
